* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.width-700 {
  width: 700px;
  margin: 1rem auto;
}

.result-display {
  background-color: #858693;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  height: 100px;
  text-align: right;
  margin: 0;
}

.button-panel-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.row-number-0,
.row-number-1,
.row-number-2,
.row-number-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  height: 100px;
}

.row-number-4 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  place-items: center;
  height: 100px;
}

.row-number-0 > button,
.row-number-1 > button,
.row-number-2 > button,
.row-number-3 > button,
.row-number-4 > button {
  border: 1px solid #858693;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  color: #000;
  padding: 10px;
}

.row-number-0 > button:hover,
.row-number-1 > button:hover,
.row-number-2 > button:hover,
.row-number-3 > button:hover,
.row-number-4 > button:hover {
  background-color: #49494b94;
}

.orange-bg {
  background-color: #f5913e;
}

.grey-bg {
  background-color: #e0e0e0;
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-around;
  place-items: center;
  width: 100%;
}

main {
  width: 90%;
  margin: 1rem auto;
}
