body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  width: 80%;
  margin: 0 auto;
}

.result-display {
  background-color: #858693;
  color: #fff;
  padding: 20px;
  text-align: right;
}

.button-panel-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.row-number-0,
.row-number-1,
.row-number-2,
.row-number-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row-number-4 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}
